body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f0f0f0, #dcdcdc);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size:cover; 
    height: 100vh;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .converter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .from, .to {
    position: relative;
  }
  
  input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="text"] {
    width: calc(100% - 30px);
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 15px;
    padding-right: 25px;
  }
  
  #convertedAmount {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    /* margin-left: 20px; */
  }
  #toCurrency{
    margin-top: 7px;
    width:250px;
  }
  #amount{
    width: 300px;
  }
  